* {
	outline: none !important;
}

html,
body {
	height: 100% !important;
	overscroll-behavior-y: none !important;
}

body {
	background-color: #cfd8dc !important;
}

body::before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1000;
	background: linear-gradient(to bottom, #78909c, #cfd8dc) no-repeat center center;
	background-size: cover;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
label,
.site-footer {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

::selection {
	color: white !important;
	background: #607d8b !important;
	-webkit-text-fill-color: white !important;
}

::-moz-selection {
	color: white !important;
	background: #607d8b !important;
	-webkit-text-fill-color: white !important;
}

.custom-control-input ~ .custom-control-label::before {
	border-color: #607d8b !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #607d8b !important;
	background-color: #607d8b !important;
}

.custom-control-input:active ~ .custom-control-label::before {
	background-color: #b0bec5 !important;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(96, 125, 139, 0.25) !important;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(96, 125, 139, 0.25) !important;
}

.form-control:focus {
	border-color: #607d8b !important;
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(96, 125, 139, 0.25) !important;
}
