* {
	outline: none !important;
}

html,
body {
	height: 100% !important;
	overscroll-behavior-y: none !important;
}

body {
	background-color: #cfd8dc !important;
}

body::before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1000;
	background: linear-gradient(to bottom, #78909c, #cfd8dc) no-repeat center center;
	background-size: cover;
}

img,
h1,
h2,
h3,
h4,
h5,
h6,
label,
.site-footer {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

::selection {
	color: white !important;
	background: #e91e63 !important;
	-webkit-text-fill-color: white !important;
}

::-moz-selection {
	color: white !important;
	background: #e91e63 !important;
	-webkit-text-fill-color: white !important;
}
